@model API_TranslateApp.Models.TranslateModel
@{
    ViewData["Title"] = "Error Page";
}
<h1>@ViewData["Title"]</h1>
<div class="detect-container">
            <p>Something is went wrong. We are sorry for the problems, please try again later.</p>
            <button type="button" onclick="location.href='@Url.Action("Menu", "Home")'">Go back to menu!</button>
</div>