@{
    ViewData["Title"] = "About author";
}
<h1>@ViewData["Title"]</h1>
<div class="default-container">
    <h2>You can find me on:</h2>
    <a target="_blank" href="https://github.com/smola93">GitHub</a>
    <a target="_blank" href="https://www.linkedin.com/in/mateusz-samulnik/">LinkedIn</a>
    <a href="mailto:mateuszsamulnik@gmail.com">Or Email Me!</a>
    <p>I hope you liked this tiny application.</p>
    <button type="button" onclick="location.href='@Url.Action("Menu", "Home")'">Go back to menu!</button>
</div>

