@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Let's try to translate something using Google Translate API!</p>
    <button onclick="window.location.href='Home/Menu'">Let's do this!</button>
</div>
