@{
    ViewData["Title"] = "Let's translate!";
}
<h1>@ViewData["Title"]</h1>

<p>Select what you prefer to do:</p>
<button type="button" onclick="location.href='@Url.Action("Languages", "Translate")'">Check available languages</button>
<button type="button" onclick="location.href='@Url.Action("Translate", "Translate")'">Translate</button>
<button type="button" onclick="location.href='@Url.Action("Translate", "Translate")'">Detect language</button>